
.favoritesPageHeader, .matchedDogHeader{
    padding: 21px 0;
    margin:0 auto;
    text-align: center;
}
.favoriteDogsContainer, .matchedDogContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 95%;
    margin: auto;
}