.NavBar{
    position: sticky;
    top: 0%;
}
.navbar-Container {
    display: grid;
    grid-template-columns: 2fr 8fr 1fr 1fr;
    /* grid-gap: 5px; */
    height: 50px;
    width: 100%;
    background-color:var(--fetch-dark-yellow);
    align-items: center;
}

.fetch-Logo {
    display: flex;
    margin: auto;
    height:40px;
    object-fit: contain;
    background-size: contain;
    background-position: top;
}

.logout-Button, .favorites-Button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 25px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--fetch-eggplant);
    color: var(--fetch-white);
}

.logout-Button:hover, .favorites-Button:hover {
    background-color: var(--fetch-light-purple);
}